<?xml version="1.0"?>
<model>
  <name>Camouflage standing person</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Duckyu</name>
    <email>duckyu@kaist.ac.kr</email>
  </author>

  <description>
    A camouflage standing person. Model created with Makehuman (http://www.makehuman.org/)
  </description>
</model>
